<footer class="text-center py-4 mt-5 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h5>Integrantes Grupo N°2</h5>
                <ul class="list-unstyled d-flex flex-wrap justify-content-center">
                    <li class="mx-2 my-1">
                        <a href="https://github.com/fra92nk" class="text-light">
                            <i class="fab fa-github "></i> Franco Vilca
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/jorgeagustinaparicio" class="text-light">
                            <i class="fab fa-github"></i> Agustin Aparicio
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/franjz20" class="text-light">
                            <i class="fab fa-github"></i> Franco Juarez
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/SoraireSebastian" class="text-light">
                            <i class="fab fa-github"></i> Ricardo Soraire
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/FlorChoque" class="text-light">
                            <i class="fab fa-github"></i> Florencia Choque
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/integrante6" class="text-light">
                            <i class="fab fa-github"></i> Integrante 6
                        </a>
                    </li>
                    <li class="mx-2 my-1">
                        <a href="https://github.com/integrante7" class="text-light">
                            <i class="fab fa-github"></i> Integrante 7
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="mt-3 mb-0">© 2024 Programación y Servicios Web</p>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>