<div class="card">
    <h5 class="card-title">{{ organism.nombre }}</h5>
    <ul>
        <li *ngFor="let procedure of procedures">{{ procedure.nombre }}</li>
    </ul>
</div>

<!-- <div class="card border-primary mb-3" style="width: 18rem;">
    <img [src]="organismo.imagen" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ organismo.nombre }}</h5>
        <div class="accordion" [id]="'accordionExample' + organismo.id">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + organismo.id">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + organismo.id" aria-expanded="true"
                        [attr.aria-controls]="'collapse' + organismo.id">
                        Trámites
                    </button>
                </h2>
                <div [id]="'collapse' + organismo.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + organismo.id"
                    [attr.data-bs-parent]="'#accordionExample' + organismo.id">
                    <div class="accordion-body">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let tramite of tramites">
                                <a [href]="tramite.link">{{ tramite.nombre }}</a>
                                <p>{{ tramite.descripcion }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->