<div class="card border-primary mb-3 ov-card-grid" style="width: 18rem;">
    <img [src]="organism.imagen" class="card-img-top img-fluid ov-card-blur" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ organism.nombre }}</h5>
        <div class="accordion" [id]="'accordionExample' + organism.id">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'heading' + organism.id">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse' + organism.id" aria-expanded="true"
                        [attr.aria-controls]="'collapse' + organism.id">
                        Trámites
                    </button>
                </h2>
                <div [id]="'collapse' + organism.id" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading' + organism.id"
                    [attr.data-bs-parent]="'#accordionExample' + organism.id">
                    <div class="accordion-body">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let tramite of organism.tramites">
                                <a [routerLink]="tramite.link">{{ tramite.nombre }}</a>
                                <p>{{tramite.descripcion}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>