<div class="container pt-5">
    <a routerLink="/admin/tramite" class="btn btn-success">Nuevo</a>
    <table class="table table-hover me-auto">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Imagen</th>
                <th scope="col">Trámites</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary" *ngFor="let item of organismosList; let i = index">
                <th scope="row">{{item.id}}</th>
                <td>{{item.nombre}}</td>
                <td>
                    <div class="container">
                        <img width="80" height="80" [src]="item.imagen" alt="organismos">
                    </div>
                </td>
                <td>
                    <ul>
                        <li *ngFor="let tramite of item.tramites">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>{{tramite.nombre}}</span>
                                <div class="icon-container">
                                    <a routerLink="/admin/tramite">
                                        <i class="fas fa-edit text-warning"></i>
                                    </a>
                                    <a routerLink=".">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </td>
                <td>
                    <div class="container d-flex justify-content-center me-auto">
                        <!-- Puedes agregar más opciones aquí si es necesario -->
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>