<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="guardar()" class="p-3 border rounded card border-success mb-3">
                <fieldset>
                    <legend class="text-center">Administrador de Tramite</legend>
                    <div class="mb-3">
                        <label for="exampleSelect1" class="form-label mt-4">Organismo</label>
                        <select name="id_organismo" [(ngModel)]="tramite.id_organismo" class="form-select">
                            <option *ngFor="let organismo of organismos" [value]="organismo.id">{{organismo.name}}
                            </option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label mt-4">Tramite</label>
                        <input type="text" name="nombre" [(ngModel)]="tramite.name" class="form-control"
                            placeholder="Nombre de Tramite">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="descripcion" [(ngModel)]="tramite.descripcion"
                            placeholder="Descripcion">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" name="link" [(ngModel)]="tramite.link"
                            placeholder="link para redirección">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary me-2">Guardar</button>
                        <a routerLink="/admin" class="btn btn-danger">Cancelar</a>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>